/**
 *
 *  CSS tổng
 *
 */


/**
 *      Default elements, classes
 */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
}

ul
{
    display: flex;
}

li
{
    list-style: none;
}
a {
    color: #000;
    background-color: lightcoral;
    text-decoration: none !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/**
 *      Default texts
 */
.bold-txt
{
    font-weight: bold !important;
}
.upc-txt
{
    text-transform: uppercase !important;
}
/**
 *      Default buttons
 */
.btn-hv
{
    border: none;
    cursor: pointer;
}
.btn-hv:hover
{
    filter: brightness(125%);
}


/**
 *      Box's background color
 */
.main-bg
{
    background-color: #51C5DD;
}
.bside-bg
{
    background-color: #0A4F70;
}
.hl-bg
{
    background-color: #F04C63;
}
.lightgray-bg
{
    background-color: #f8f6f7;
}
.gray-bg
{
    background-color: #c6c4c4;
}

/**
 *      Box's background color !IMPORTANT
 */
.main-bg-i
{
    background-color: #51C5DD !important;
}
.bside-bg-i
{
    background-color: #0A4F70 !important;
}
.hl-bg-i
{
    background-color: #F04C63 !important;
}
.lightgray-bg-i
{
    background-color: #f8f6f7 !important;
}
.gray-bg-i
{
    background-color: #c6c4c4 !important;
}


/**
 *      Box:HOVER's background color
 */
.main-bg-hv:hover
{
    background-color: #51C5DD !important;
    transition: all 0.15s;
}
.bside-bg-hv:hover
{
    background-color: #0A4F70 !important;
    transition: all 0.15s;
}
.hl-bg-hv:hover
{
    background-color: #F04C63 !important;
    transition: all 0.15s;
}
.lightgray-bg-hv:hover
{
    background-color: #f8f6f7 !important;
    transition: all 0.15s;
}
.gray-bg-hv:hover
{
    background-color: #c6c4c4 !important;
    transition: all 0.15s;
}


/**
 *      Text color
 */
.main-txt
{
    color: #51C5DD;
}
.bside-txt
{
    color: #0A4F70;
}
.hl-txt
{
    color: #F04C63;
}
.lightgray-txt
{
    color: #f8f6f7;
}
.gray-txt
{
    color: #c6c4c4;
}

/**
 *      Text color !IMPORTANT
 */
.main-txt-i
{
    color: #51C5DD !important;
}
.bside-txt-i
{
    color: #0A4F70 !important;
}
.hl-txt-i
{
    color: #F04C63 !important;
}
.lightgray-txt-i
{
    color: #f8f6f7 !important;
}
.gray-txt-i
{
    color: #c6c4c4 !important;
}


/**
 *      Text:HOVER color
 */
.main-hv:hover
{
    color: #51C5DD;
    transition: all 0.15s;
}
.bside-hv:hover
{
    color: #0A4F70;
    transition: all 0.15s;
}
.hl-hv:hover
{
    color: #F04C63;
    transition: all 0.15s;
}
.lightgray-hv:hover
{
    color: #f8f6f7;
    transition: all 0.15s;
}
.gray-hv:hover
{
    color: #c6c4c4;
    transition: all 0.15s;
}