/**
 *
 *  CSS tổng
 *
 */


/**
 *      Default elements, classes
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: inherit;
        text-decoration: inherit;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/**
 *      Default texts
 */

.bold-txt {
    font-weight: bold !important;
}

.upc-txt {
    text-transform: uppercase !important;
}


/**
 *      Default buttons
 */

.btn-hv {
    border: none;
    cursor: pointer;
}

.btn-hv:hover {
    filter: brightness(125%);
}


/*
    Biến Box shadow
*/

$box-shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.2);

/*
    Biến Color default
*/

$bg-color: #d9c4b3;
// Chiếm phần lớn website: 50 ~ 70%
$main-color: #535F2D;
// Khoảng: ~30%
$bside-color: #7F5D53;
// Khoảng: ~5% ([highlight-color] -> Thường dùng cho những điểm nhấn :hover, link,...)
$hl-color: #7F5D53;

/*
    Biến Color darkmode
*/

$bg-color-dm: #000;
$main-color-dm: #535F2D;
$bside-color-dm: #7F5D53;
$hl-color-dm: #7F5D53;

/**
 *      Box's background color
 */

.bg-bg {
    background-color: $bg-color;
}

.main-bg {
    background-color: $main-color;
}

.bside-bg {
    background-color: $bside-color;
}

.hl-bg {
    background-color: $hl-color;
}

.lightgray-bg {
    background-color: #f8f6f7;
}

.gray-bg {
    background-color: #c6c4c4;
}


/**
 *      Box's background color !IMPORTANT
 */

.bg-bg-i {
    background-color: $bg-color !important;
}

.main-bg-i {
    background-color: $main-color !important;
}

.bside-bg-i {
    background-color: $bside-color !important;
}

.hl-bg-i {
    background-color: $hl-color !important;
}

.lightgray-bg-i {
    background-color: #f8f6f7 !important;
}

.gray-bg-i {
    background-color: #c6c4c4 !important;
}


/**
 *      Box:HOVER's background color
 */

.main-bg-hv:hover {
    background-color: $main-color !important;
    transition: all 0.15s;
}

.bside-bg-hv:hover {
    background-color: $bside-color !important;
    transition: all 0.15s;
}

.hl-bg-hv:hover {
    background-color: $hl-color !important;
    transition: all 0.15s;
}

.lightgray-bg-hv:hover {
    background-color: #f8f6f7 !important;
    transition: all 0.15s;
}

.gray-bg-hv:hover {
    background-color: #c6c4c4 !important;
    transition: all 0.15s;
}


/**
 *      Text color
 */

.main-txt {
    color: $main-color;
}

.bside-txt {
    color: $bside-color;
}

.hl-txt {
    color: $hl-color;
}

.lightgray-txt {
    color: #f8f6f7;
}

.gray-txt {
    color: #c6c4c4;
}


/**
 *      Text color !IMPORTANT
 */

.main-txt-i {
    color: $main-color !important;
}

.bside-txt-i {
    color: $bside-color !important;
}

.hl-txt-i {
    color: $hl-color !important;
}

.lightgray-txt-i {
    color: #f8f6f7 !important;
}

.gray-txt-i {
    color: #c6c4c4 !important;
}


/**
 *      Text:HOVER color
 */

.main-hv:hover {
    color: $main-color;
    transition: all 0.15s;
}

.bside-hv:hover {
    color: $bside-color;
    transition: all 0.15s;
}

.hl-hv:hover {
    color: $hl-color;
    transition: all 0.15s;
}

.lightgray-hv:hover {
    color: #f8f6f7;
    transition: all 0.15s;
}

.gray-hv:hover {
    color: #c6c4c4;
    transition: all 0.15s;
}